@model Contact
<div>
    <h1 class="text-primary">Update Contact Info for @Model.Name</h1>
    <form method="post">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" value="@Model.Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Email"></label>
            <input asp-for="Email" value="@Model.Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PhoneNumber">Phone Number</label>
            <input asp-for="PhoneNumber" value="@Model.PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>        <div class="row">
            <div class="col-6">
                <a asp-action="Index" class="btn btn-primary form-control">
                    Go Back
                </a>

            </div>
            <div class="col-6">
                <button class="btn btn-primary form-control" type="submit"> Update</button>
            </div>
        </div>

    </form>
</div>